*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* min-height: 100vh; */
  /* max-width: 70vw; */
  margin: 0 auto;
  background-color: #1F2937;
  color: #fff;
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
}
.one,.two,.three {
  height: 50vh;
  padding: 0 15vw;
  /* border: solid 2px palevioletred; */
}
.four {
  height: 35vh;
  padding: 0 15vw;

}

/* HEADER SECTION */
.nav-bar {
  /* border: solid 2px honeydew; */
  display: flex;
  height: 5vh;
  justify-content: space-between;
  align-items: center;
}
.links {
  /* border: solid 2px honeydew; */
  display: flex;
  gap: 2vw;
  list-style-type: none;
  flex: 1;
}

.logo {
  font-weight: bold;
  font-size: la;
  color: #F9FAF8;
  flex: 1;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}
.hero {
  /* border: solid 2px darkgoldenrod; */
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:50px;
}
.placeholder {
  width: 60vw;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkgray;
}

button{
  background-color: #3882F6;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  width: 150px;
}
.main-text {
  font-size:xx-large;
  font-weight: 900;
  color: #F9FAF8;
}
.description {
  font-size: medium;
}
.about {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* RANDOM INFO SECTION */
.random-info {
  background-color: #fff;
  color: #1F2937;
}
.photo {
  border: #3882F6 solid 4px;
  border-radius: 10px;
  height: 15vh;
  width: 15vh;
}

.random-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item {
  width: 15vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1vh;
  font-size: 0.8rem;
}
.captioned {
  display: flex;
  gap: 2vw;
}

.rando {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
  font-size: 3rem;
}
.caption {
  font-size: 1rem;
}

/* QUOTE SECTION  */

.quote-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E5E7EB;
  color: #1F2937;
}
.quote {
  width: 40vw;
}
.quote-container {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.quote {
  font-size:xx-large;
  font-style: italic;
  font-weight: 100;
}
.speaker {
  font-size: medium;
  font-weight: bold;
  display: flex;
  justify-content: end;
}

/* FOOTER */

.footer {
  background-color: #fff;
  color: #1F2937;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright {
  background-color: #1F2937;
  color: #E5E7EB;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
}
.call-to-action-box {
  height: 50%;
  width: 100%;
  background-color: #3882F6;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: space-between;
  padding:0 20%;
}
.why {
  color: #E5E7EB;
  font-size: x-large;
}
.sign-up {
  border: #fff solid 2px;
}
