*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* min-height: 100vh; */
  max-width: 80vw;
  margin: 0 auto;
  background-color: #1F2937;
  color: #fff;
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
}

.one,.two,.three,.four {
  height: 50vh;
  border: solid 2px palevioletred;
}
.nav-bar {
  /* border: solid 2px honeydew; */
  display: flex;
  height: 5vh;
  justify-content: space-between;
  align-items: center;
}
.links {
  /* border: solid 2px honeydew; */
  display: flex;
  gap: 2vw;
  list-style-type: none;
}

.logo {
  font-weight: bold;
  font-size: medium;
  color: #F9FAF8;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}
